body{
    background-color: #000;
}
.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .loader {
    width: 200px;
    height: 20px;
    background-color: #f3f3f3;
    position: relative;
  }

  .loader::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #fffb00;
    animation: progress 2s ease-in-out infinite;
  }
  
  @keyframes progress {
    0% {
      width: 0;
    }
    50% {
      width: 50%;
    }
    100% {
      width: 100%;
    }
  }